*{
	margin:0%;
}
body{
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	font-family:MS Sans Serif;
}
h1{
	color:#DFD39C;
	-webkit-text-stroke:2px #96763B;
}
#fb{
	background-image:url(fb.png);
	width:200px;
	height:200px;
}