<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>House</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    </head>
    <body class="bg-secondary">
        <header>            
            <div class="bg-white">
                <img alt="logo_tgif" class="col-12" src="STYLE/LOGOTGIF.jpg">
            </div>
        </header>
        <nav class="border border-dark bg-danger">
            <div class="d-flex justify-content-between">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="home-starter-page.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-dark text-white" href="#demo" data-toggle="collapse">Congress 113</a>
                        <ul id="demo" class="nav collapse">
                            <li class="nav-item">
                                <a href="senate-data.html" class="nav-link text-white">Senate</a>
                            </li>
                            <li class="nav-item">
                                <a href="house-starter-page.html" class="nav-link bg-dark text-light">House</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#demo1" data-toggle="collapse">Attendance</a>
                        <ul id="demo1" class="nav collapse">
                            <li class="nav-item">
                                <a href="senate-attendance-starter-page.html" class="nav-link text-white">Senate</a>
                            </li>
                            <li class="nav-item">
                                <a href="house-attendance-starter-page.html" class="nav-link text-white">House</a>
                            </li>
                        </ul> 
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#demo2" data-toggle="collapse">Party Loyalty</a>
                        <ul id="demo2" class="nav collapse">
                            <li class="nav-item">
                                <a href="senate-party-loyalty-starter-page.html" class="nav-link text-white">Senate</a>
                            </li>
                            <li class="nav-item">
                                <a href="house-party-loyalty-starter-page.html" class="nav-link text-white">House</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="mailto:info@tgif.com" class="col-1"><img alt="logo_correo" class="w-50"  src="STYLE/correo.png"></a>
            </div>
        </nav>        
            <!--Table container-->
        <main class="m-5 text-monospace text-white">     
            <h2 class="text-dark">Congressmen</h2>
            <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
            <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
	    </main>
        <div id="app">
        <div class="bg-dark col-6 rounded-top text-white mx-2">
            <div class="form-check form-check-inline my-3">
                <h4 class="mx-4">Filter by Party:</h4>
                <input v-model="party" class="form-check-input congress" type="checkbox" id="inlineCheckbox1" value="R" checked >
                <label class="form-check-label" for="inlineCheckbox1">Republican</label>
            </div>
            <div class="form-check form-check-inline">
                <input v-model="party" class="form-check-input congress" type="checkbox" id="inlineCheckbox2" value="D" checked >
                <label class="form-check-label" for="inlineCheckbox2">Democratian</label>
            </div>
            <div class="form-check form-check-inline">
                <input v-model="party" class="form-check-input congress" type="checkbox" id="inlineCheckbox3" value="I" checked >
                <label class="form-check-label" for="inlineCheckbox3">Independent</label>
            </div>
            <div class="ml-4">
                <h4>Filter by State:</h4>
                <select v-model="thisState" class="col-6 mb-2" id="inputState">
                    <option selected value="all">All</option>
                    <option v-for="state in states" :value="state">{{state}}</option>
                </select>
            </div>
        </div>
        <div>
            <table class="table table-dark text-center table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Seniority</th>
                        <th>% of Votes</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr v-for="member in filterParty()">
                        <template v-if='member.url== "" '>
                            <td> {{member.last_name}} {{member.first_name}} {{member.middle_name}} </td>
                        </template>
                        <template v-else>
                             <td> <a target="_blank" class="text-white" :href="member.url"> {{member.last_name}} {{member.first_name}} {{member.middle_name}} </a></td>   
                        </template>
                        <td> {{member.party}} </td>
                        <td> {{member.state}} </td>
                        <td> {{member.seniority}} </td>
                        <td> {{member.votes_with_party_pct}} </td>
                    </tr>        
                </tbody>
            </table>
        </div>
        </div>
        <footer>
            <div class="bg-danger m-5 font-weight-bold">
                <p class="text-center text-dark border border-dark">©2016 TGIF | All Rights Reserved</p>
            </div>
        </footer>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="JS_TGIF/main.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="  sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>