header{
	background-image:url(bandera.jpg);
	background-repeat: no-repeat;
	background-size:100vw;
	background-position:center;
	height:18.25vw;

}

th, td{
	text-align:center;
	border-collapse:collapse;
	border:3px solid black;
	padding:5px;
}

table{
	border-collapse:collapse;
}
#table{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}
#logo{
	width:18vw;
	height:18vw;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
}
h1{
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content:space-between;
}
*{
	margin:0px;
}